{% extends "base.html" %}

{% block title %}Auctions{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Auctions</h1>
  {% if user.is_authenticated %}<a class="btn" href="{% url 'auctions:create' %}">Sell an item</a>{% endif %}
</div>

<form class="filters" method="get"
      hx-get="{% url 'auctions:list' %}" hx-target="#results" hx-swap="outerHTML"
      hx-trigger="change, keyup changed delay:400ms from:input[name=q]" hx-push-url="true">
  {{ filters.q }}
  {{ filters.category }}
  {{ filters.phase }}
  {{ filters.sort }}
  <noscript><button class="btn btn--small" type="submit">Filter</button></noscript>
</form>

{% include "auctions/_results.html" %}
{% endblock %}
